NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://<User_Name>:<User_Password>@<Cluster_Name>.nt9j12f.mongodb.net/<DB_Name>?retryWrites=true&w=majority&appName=<Cluster_Name>

# JWT


JWT_ACC_SECRET=some_jwt_access_secrect
JWT_ACC_EXPIRES_IN=1h
JWT_REF_EXPIRES_IN=3600s
JWT_REF_SECRET=some_jwt_reference_secret

# Cloudinary for media file upload

CLOUDINARY_CLOUD_NAME=some_cloudinary_cloud_name
CLOUDINARY_API_KEY=some_cloudinary_api_name
CLOUDINARY_API_SECRET=some_clodinary_api_secret